@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

:root{
   background-color: #dadfe8;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

.navbar{
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 0.3fr;
    column-gap: 5px;
    background-color: #004c9b;
    max-height: 100px;
}

img{
    height: 5%;
    width: 5%;
    border-radius: 50%;
    padding: 1%;
}

.title {
    color: #e5e7eb;
    align-items:start;
    font-family: Montserrat;
    letter-spacing: 5px;
    margin-right: 5px;
    -ms-grid-column-align: center;
}